.main {
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
}

.cart {
    flex: 3;
    border: 1px solid rgb(236, 236, 236);
    padding: 10px;
}

.cuerpo, input {
    margin-top: 5px
}

.formulario {
    flex: 7;
    padding-left: 15px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

thead {
    background-color: black;
    color: white;
    text-align: left;
    top: 0;
}


.botones {
    margin-top: 20px;
}

button {
    padding: 7px;
    border-radius: 5px;
}

input {
    padding: 7px;
    width: 90%;
    outline: none;
}

.green {
    background-color: rgb(48, 157, 85);
    color: white;
    border: none;
}

.yellow {
    background-color: rgb(231, 201, 13);
    color: black;
    border: none;

}

.red {
    background-color: rgb(182, 15, 64);
    color: white;
    border: none;
}
